<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Welcome to the Recipe Recommendation System</h1>
  <a href="/recipes">View Recipes</a>
</body>
</html>
