<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Index</title>
</head>
<body>
  <h1>Welcome to the Recipe Index</h1>
  <a href="/recipes">View All Recipes</a>
  <a href="/recipes/new">Create New Recipe</a>
</body>
</html>
