# Node.js
node_modules/

# Logs
logs
*.log
logs/*.log

# Debug and diagnostic reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/
.nyc_output/

# Grunt intermediate storage
.grunt

# Bower dependency directory
bower_components/

# Compiled binary addons
build/Release

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# dotenv environment variable files
.env
.env.test
.env.production

# Miscellaneous
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Local environment files
*.local

# Temporary files
tmp/
temp/
